<ul class="git-wiki-tools">

    {% if site.disable_edit != true %}
    <li class="tools-button new">
        <a class="primary-button iconed icon-toolbar icon-add" target="_blank" href="{{ site.github.repository_url }}/new/{{site.git_branch | escape}}{{ site.site_root | default: '/' }}{{ site.wiki_folder }}?filename=" data-tooltip-text="Add New Page"></a>
    </li>
    <li class="tools-button edit">
        <a class="primary-button iconed icon-toolbar icon-edit" target="_blank" href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/{{ site.site_root | default: '/' }}{{page.path | escape}}" data-tooltip-text="Edit Page"></a>
    </li>
    {% endif %}
    <li class="tools-button history">
        <a class="primary-button iconed icon-toolbar icon-history" target="_blank" href="{{ site.github.repository_url }}/commits/{{site.git_branch | escape}}/{{ site.site_root | default: '/' }}{{page.path | escape}}" data-tooltip-text="Page History"></a>
    </li>
    <li class="tools-button source">
        <a class="primary-button iconed icon-toolbar icon-source" target="_blank" href="{{ site.github.repository_url }}/blob/{{site.git_branch | escape}}/{{ site.site_root | default: '/' }}{{page.path | escape}}" data-tooltip-text="Page Source"></a>
    </li>
    <li class="tools-button page-width-toggle">
        <a class="primary-button iconed icon-toolbar icon-expand" data-tooltip-text="Expand Page Width"></a>
    </li>
    <li class="tools-button more-options">
        <a class="primary-button iconed icon-toolbar icon-overflow" data-tooltip-text="More Options" data-tooltip-menu="more-options" data-delete-page-url="{{ site.github.repository_url }}/delete/{{site.git_branch | escape}}/{{ site.site_root | default: '/' }}{{page.path | escape}}"></a>
    </li>
    <li class="tools-button prose new">
        <a class="primary-button iconed icon-toolbar icon-add" target="_blank" href="http://prose.io/#{{site.github.repository_nwo}}/new/{{site.git_branch | escape}}{{ site.site_root | default: '/' }}{{ site.wiki_folder }}" data-tooltip-text="Prose.io - Add New Page"></a>
    </li>
    <li class="tools-button prose edit">
        <a class="primary-button iconed icon-toolbar icon-edit" target="_blank" href="http://prose.io/#{{site.github.repository_nwo}}/edit/{{site.git_branch | escape}}{{ site.site_root | default: '/' }}{{page.path | escape}}" data-tooltip-text="Prose.io - Edit Page"></a>
    </li>

</ul>
