Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Edit</a>):

<ul>
  <li><a href="{{ '/' | relative_url }}">Home</a></li>
  <li><a href="/Guides">Guides</a></li>
  <li><a href="/Infinite_Heaven">Infinite Heaven</a></li>
  <li><a href="/FoxKit">FoxKit</a></li>
  <li><a href="/Meta-All_Pages">All Pages</a></li>
</ul>

Wiki

<ul>
    <li><a href="/Meta-Wiki_Tips">Wiki Tips</a></li>
    <li><a href="/Meta-Creating_Editing_a_Page">Creating/Editing a Page</a></li>
    <li><a href="/Meta-Formatting_Reference">Formatting Reference</a></li>
</ul>

External Links

<ul>
    <li><a href="https://discord.gg/moddersheaven">Modding Discord</a></li>
    <li><a href="https://www.nexusmods.com/metalgearsolidvtpp">Nexusmods (TPP)</a></li>
    <li><a href="https://www.nexusmods.com/metalgearsolidvgz">Nexusmods (GZ)</a></li>
    <li><a href="https://mgsvmods.github.io/">Non-Nexus Mods Collection</a></li>
</ul>