<div class="git-wiki-main-logo">
    <a class="header-link-desktop" href="{{ '/' | relative_url }}">
        <!-- <img src="{{ site.logo_url | relative_url }}"/> -->
        <div class="header-graphic-desktop">
            <div class="header-graphic-desktop-mask">
                <div class="header-graphic-desktop-image"></div>
            </div>
        </div>
        <span class="header-title-desktop">{{ site.title | default: site.github.repository_name | escape }}</span>
    </a>
    <p class="header-description-desktop">{{ site.description | default: site.github.project_tagline }}</p>
</div>