<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <SnakeBite.Properties.Settings>
            <setting name="InstallPath" serializeAs="String">
                <value>Z:\home\deck.local\share\Steam\steamapps\common\MGS_TPP</value>
            </setting>
            <setting name="DisableConflictCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThemeFile" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSBVersion" serializeAs="String">
                <value>0.9.2.2</value>
            </setting>
            <setting name="SkipLauncher" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="formModsLocation" serializeAs="String">
                <value>650, 223</value>
            </setting>
            <setting name="formModsSize" serializeAs="String">
                <value>637, 800</value>
            </setting>
            <setting name="formModsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showOneTimePresetHelp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutosaveRevertPreset" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseSnakeBiteOnLaunch" serializeAs="String">
                <value>False</value>
            </setting>
        </SnakeBite.Properties.Settings>
    </userSettings>
</configuration>